* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.472);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: rgb(214, 143, 27);
  border-bottom: yellow 3px solid;
  display: flex;
  align-content: center;
  padding: 10px;
}

.nav--logo {
  width: 25px;
  height: 25px;
  margin-left: 40%;
}

.nav--title {
  margin-left: 10px;
  font-size: 16pt;
}

.travel--card {
  background-color: rgb(223, 218, 210);
  border-bottom: 2px green solid;
  margin-left: 20vw;
  width: 60vw;
  height: 37vh;

  display: flex;
  align-content: flex-start;
}

.travel--img {
  width: 250px;
  height: 300px;
  padding: 10px 10px;
}

.travel--location {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 40vw;
}

.travel--title {
  font-size: 22pt;
}

.travel--date {
  font-size: 16pt;
  font-weight: bold;
}

.travel--description {
  font-size: 13pt;
}

.location--logo {
}

.grey {
  color: #918e9b;
}
